.heading{
     text-align: center;
}

/* .row{
     text-align: center;
} */

/* .bg{
     background-color: brown;
}

.max-w{
     max-width: 30vw;
}

 */

.flex{
     display: flex;
}

.flex-col{
     flex-direction: column;
}


.item-center{
     align-items: center;
}




